body {
    position: relative;
  }
.tiletext  {
    position: absolute;
    bottom: 9px;
    left: 15px;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;
    width: 274px;
    line-height: 59px;
    font-size: 25px;
    text-align: center;
}
#rawtext {
    line-height: 50px;
}
.vertmarg {
    /* padding: 0 !important; */
    margin-bottom: 15px;
    align-items:center;
}
.buttoncolor {
    background-color: #4aaaa5;
    color: white;
}